<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866902982152-kmant9aar3sru3rbngu7srqcu750i067.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866902982152-kmant9aar3sru3rbngu7srqcu750i067</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLxF5WOF3thDGJ1DKIpvxjbnZufCGqpY</string>
	<key>GCM_SENDER_ID</key>
	<string>866902982152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eneblaUserApp</string>
	<key>PROJECT_ID</key>
	<string>enblaproject-userauth</string>
	<key>STORAGE_BUCKET</key>
	<string>enblaproject-userauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866902982152:ios:441f914fd2beee8f799bbd</string>
</dict>
</plist>